/* --------------------------------------------------------------
/* =SUPER GLOBAL
-------------------------------------------------------------- */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  line-height: 120%;
  padding: 0;
  margin: 0;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background: #000000;
  color: #9A9A9A;
}
::selection {
  color: #000000;
  background: rgba(255,255,255,0.9);
}
.container {
  width: 100%;
  padding: 0 20px;
}
.row {
  display: flex;
}
.col-50 {
  width: 50%;
  max-width: 50%;
}

/* --------------------------------------------------------------
/* =ELEMENTS & TYPO / Kind of Branding basic definition area
-------------------------------------------------------------- */
p {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  margin: 20px 0;
  letter-spacing: -0.02em;
}
.text-color-primary {
  color: #ffffff;
}
.text-small {
  font-size: 1rem;
  opacity: 0.7;
}
.text-regular {
  font-size: 2rem;
}
.text-large {
  font-size: 3rem;
}
.one-quote-box {
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.quote-date {
  margin: 20px 0;
}
.quote-author {
  margin: 4vh 0 8vh 0;
}
a {
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}
a:hover {
  opacity: 0.5;
}
.hero__text-box {
  max-width: 540px;
  margin: 20% 0 60px 0
}
h1.main-title {
  margin: 0 0 40px 0;
  font-size: 4rem;
  line-height: 100%;
  color: #ffffff;
  font-weight: normal;
  letter-spacing: -0.04em;
}
h2 {
  font-size: 1.1em;
  margin: 0;
  font-weight: 700;
  color: rgba(0,0,0,0.3);
  color: #ffffff;
}
footer {
  padding-bottom: 5vw;
}
section.padded {
  padding: 10vw 0;
}


/* --------------------------------------------------------------
/* =Header stuff
-------------------------------------------------------------- */
header {
  display: flex;
  padding: 20px;
  width: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}
.mode-switcher__button {
  font-size: 10px;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  text-indent: 999px;
}
.mode-switcher__button.active {
  display: none;
}
#light-mode-button {
  background: #f0f0f0;
}
#dark-mode-button {
  background: #121212;
}
.header-navigation {
  margin-left: 16px;
  line-height: 16px;
}
.nav-separator {
  margin: 0 4px;
}


/* --------------------------------------------------------------
/* =LIGHT MODE
-------------------------------------------------------------- */
body.light-mode {
  background: #f0f0f0;
  color: #5b626a;
}
.light-mode .text-color-primary, .light-mode a {
  color: #262a2f;
}
.light-mode .quote-notes {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.light-mode .one-quote-box {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.light-mode header {
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(240,240,240,1) 0%, rgba(240,240,240,0) 100%);
}

/* --------------------------------------------------------------
/* =SMARTPHONE
-------------------------------------------------------------- */
@media screen and (max-width: 821px) {
  .text-small {
    font-size: .8rem;
  }
  .text-regular {
    font-size: 1rem;
  }
  .text-large {
    font-size: 2rem;
  }
  header, section {
    padding-bottom: 10vw;
  }
  h1 {
    font-size: 10vw;
  }
  .row {
    display: block;
  }
  .col-50 {
    width: 100%;
    max-width: 100%;
  }
  .hero__text-box {
    padding: 10% 0 20px 0;
    max-width: none;
  }
  h1.main-title {
    font-size: 9vw;
  }
}
