/* --------------------------------------------------------------
/* =SUPER GLOBAL
-------------------------------------------------------------- */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  line-height: 1.6;
  padding: 0;
  margin: 0;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background: #ffffff ;
  color: #292934;
}
::selection {
  color: #000000;
  background: rgba(0,0,0,0.15);
}
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}
.row {
  display: flex;
}
.full-row-border-top {
  position: relative;
}
.full-row-border-top::before {
  content: "";
  background: rgba(0, 0, 0, 0.08);
  height: 1px;
  width: calc(100% - 30px);
  top: 0;
  left: 15px;
  position: absolute;
}
.col-50 {
  width: 50%;
  padding: 0 15px;
  max-width: 50%;
}
.col-100 {
  width: 100%;
  padding: 0 15px;
}
img.fluid-img {
  display: block;
  width: 100%;
  height: auto;
}
p {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  margin: 20px 0;
  letter-spacing: -0.03em;
}
.text-color-primary {
  color: #292934;
}
.text-color-secondary {
  opacity: 0.7;
}
.text-small {
  font-size: 12px;
}
.text-regular {
  font-size: 20px;
}
.text-large {
  font-size: 28px;
}
.hero {
  overflow: hidden;
  border-radius: 16px;
}
a {
  color: #292934;
  text-decoration: underline;
  cursor: pointer;
  outline: none;
}
a:hover {
  opacity: 0.5;
}
h1.main-title {
  margin: 0;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -0.04em;
}
h2 {
  font-size: 28px;
  margin: 0;
  letter-spacing: -0.04em;
}
.padded-section {
  padding: 8vh 0;
}
.large-padding-botton {
  padding-bottom: 8vh;
}
.large-padding-top {
  padding-top: 8vh;
}


/* --------------------------------------------------------------
/* =Page specific
-------------------------------------------------------------- */
.one-quote-box {
  padding: 60px 0 80px 0;
}
.quote-notes {
  margin-top: 80px;
}
.quote-date {
  margin: 20px 0 80px 0;
}

/* --------------------------------------------------------------
/* =Header stuff
-------------------------------------------------------------- */
header {
  display: flex;
  padding: 15px 0;
  font-size: 14px;
  width: 100%;
}
header a {
  text-decoration: none;
}
.nav-separator {
  margin: 0 4px;
  opacity: 0.2;
}
.logo-ish {
  font-weight: bold;
}

/* --------------------------------------------------------------
/* =SMARTPHONE
-------------------------------------------------------------- */
@media screen and (max-width: 821px) {
  .text-small {
    font-size: .8rem;
  }
  .text-regular {
    font-size: 1rem;
  }
  .text-large {
    font-size: 2rem;
  }
  header, section {
    padding-bottom: 10vw;
  }
  .row {
    display: block;
  }
  .col-50 {
    width: 100%;
    max-width: 100%;
  }
  .hero__text-box {
    padding: 10% 0 20px 0;
    max-width: none;
  }
  h1.main-title {
    font-size: 32px;
  }
}
